<div style="padding: 0 10px">
  <h1>Recuperação de senha</h1>

  <p>
    Olá, {{ name }},
  </p>

  <p>
    Recebemos uma solicitação de recuperação de senha para a sua conta.
  </p>

  <p>
    Se não foi você que fez este pedido, apenas ignore.
  </p>

  <p>
    Acesse o link a seguir para recuperar sua senha: <a href="{{ appUrl }}?token={{ token }}">clique aqui</a>
  </p>

  <p>
    Atenção, o link acima tem validade de apenas duas horas, após este período, você irá precisar fazer outra
    solicitação de recuperação de senha.
  </p>

  <p>
    Agradecemos a sua compreensão, e obrigado por utilizar os nossos serviços!
  </p>
</div>
